/*
Some styles culled from:
http://www.endigodesign.com/2010/07/html5-sticky-footer/
*/

$wrapper_width: 1035px;
$nav_height: 53px;
$footer_height: $nav_height;
$neg_footer_height: -53px;
$content_padding_tb: 16px;
$content_padding_lr: 100px;
$soft_green: #425b49;
$dark_brown: #1e0e02;
$off_white: #fbfaf6;
$listing_even_bg: #f3ebe0;

/* body and layout */

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: {
    color: $dark_brown;
  }
}

#wrapper {
  background: {
    image: url('/images/bg_wrapper.jpg');
    repeat: repeat-y;
  }
  height: auto !important;
  height: 100%;
  margin: 0 auto $neg_footer_height;
  min-height: 100%;
  width: $wrapper_width;
}

#header {
  background: {
    image: url('/images/bg_header.jpg');
  }
  height: 144px;
  text-align: center;
  a#header_link {
    text-decoration: none;
    span#heading {
      color: #f7fff5;
      font: {
        family: Helvetica, Arial, sans-serif;
        size: 46px;
        weight: 200;
      }
      position: relative;
      top: -52px;
    }
  }
  a#header_link:hover {
    text-decoration: none;
  }
}

#content {
  background: {
    image: url('/images/bg_content.jpg');
    repeat: no-repeat;
  }
  font: {
    family: 'Droid Serif';
    size: 16px;
  }
  line-height: 1.3;
  min-height: 463px;
  padding: $content_padding_tb $content_padding_lr;
  padding-bottom: 30px; /* override */
}

footer, .push {
  height: $footer_height;
  background: {
    color: #1e0e02;
  }
}
.push {
  background: {
    image: url('/images/bg_wrapper.jpg');
    repeat: repeat-y;
  }
}

footer {
  display: block;
}

#footer_content {
  margin: 0 auto;
  min-height: 20px;
  padding: 5px;
  width: $wrapper_width - 10px;
  span#signed_in_as {
    color: #ae8260;
    float: right;
    font-size: 16px;
  }
}

/* basic html */

h1, h2 {
  color: #9e5b28;
  font: {
    family: 'Droid Sans', arial, serif;
  }
}
h1 {
  font: {
    size: 36px;
    weight: 400;
  }
}
h2 {
  font: {
    size: 24px;
    weight: 200;
  }
}
h3 {
  font: {
    size: 20px;
    weight: 200;
  }
}
a {
  color: $soft_green;
}

/* flash messages */

.flash {
  padding: 5px;
  margin: 0 0 8px 0;
}
.flash#notice {
  background-color: #79a786;
  border: 1px solid #425b49;
  color: #1e0e02;
}
.flash#alert {
  background-color: #feb5b5;
  border: 1px solid #b20000;
}

/* buttons */

a.alert.button {
  color: #fff;
  @include fancy-button(#ff0000, 13px);
}

/* general, shared styles */

.note {
  color: #666;
  font-size: 13px;
}
a.cancel {
  color: #ff0000;
}
.even {
  background-color: $listing_even_bg;
}

/* listings */

.listing_header {
  margin: 0 0 30px 0;
}
.listing_subheader {
  margin: 30px 0 0 0;
}
.listing_item {
  padding: 10px;
  span.actions {
    float: right;
    a {
      color: $soft_green;
      margin: 0 8px 0 0;
    }
    form {
      display: inline;
      div {
        display: inline;
      }
      input[type=submit] {
        @include fancy-button($soft_green, 12px);
      }
    }
  }
  span.subdued {
    color: #999999;
    font-size: 12px;
    margin: 0 0 0 10px;
  }
  .sub_listing {
    margin: 5px 0 0 20px;
    .sub_listing_item {
      padding: 2px 0;
    }
  }
}
.listing_item.even {
  background-color: $listing_even_bg;
}

.tight_listing_item {
    padding: 3px;
    span.actions {
      float: right;
      a {
        color: $soft_green;
        margin: 0 8px 0 0;
      }
    }
  }

/* home page */

.student_order_link,
.user_order_link {
  margin: 10px 0;
}
#balance, #paypal, #pay_cash_check {
  margin: 20px 0 0 0;
}
#balance {
  font-weight: bold;
}
#pay_cash_check {
  p {
    padding: 10px 0;
  }
  #pay_cash_check_instructions {
    display: none;
  }
}
#not_signed_in {
  padding: 60px 0 0 0;
  text-align: center;
  a.button {
    @include fancy-button(#9E5B28, 30px);
  }
  #or {
    font-size: 18px;
    margin: 20px 0;
  }
  .note {
    margin: 40px auto 0 auto;
    text-align: center;
    width: 360px;
  }
}
#dashboard {
  h2 {
    margin: 30px 0 10px 0;
  }
  #account_info {
    .actions {
      float: right;
    }
  }
  #notes {
    background-color: $listing_even_bg;
  }
}


/* account request */

#account_request.actions {
  margin: 20px 0;
  a, input[type="submit"] {
    float: right;
    margin: 0 0 0 20px;
  }
}


/* account activation */

h3.activation {
  margin: 0 0 30px 0;
}


/* accounts */

div.account {
  h3 {
    padding: 0 0 0 10px;
  }
  .user, .student {
    padding: 10px 0 0 10px;
  }
  .students {
    margin: 20px 0 0 0;
    .add_student {
      float: right;
    }
  }

}

/* reports */
#reports {

  h2 {
    margin: 20px 0 0 0;
  }

  #date_selector {
    margin: 20px 0;
    form {
      input#date {
        font-size: 22px;
        height: 30px;
      }
      input[type=submit] {
        display: none;
      }
    }
  }

  .school {
    margin: 0 0 40px 0;
    h3.school_header {
      margin: 10px 0;
    }
    table.orders {
      width: 100%;
      td, th {
        border: 1px solid $dark_brown;
        padding: 5px;
      }
      td {
        font: {
          size: 12px;
        }
        text-align: center;
      }
      td.last_name, td.first_name {
        text-align: left;
      }
      th, td.header {
        background-color: $dark_brown;
        border: 1px solid $off_white;
        font: {
          size: 14px;
        }
        color: white;
        text-align: center;
      }
    }
  }

  #summary {
    .section {
      margin: 20px 0;
      .name {
        margin: 0 0 10px 0;
      }
      ul {
        list-style-type: disc;
        li {
          margin: 5px 0 0 30px;
        }
      }
    }
  }
}
