/*
Some styles culled from:
http://www.endigodesign.com/2010/07/html5-sticky-footer/
*/

$wrapper_width: 1035px;
$nav_height: 53px;
$footer_height: $nav_height;
$neg_footer_height: -53px;
$content_padding_tb: 16px;
$content_padding_lr: 100px;
$nav_link_padding_tb: 16px;
$nav_link_padding_lr: 20px;
$soft_green: #425b49;
$listing_even_bg: #f3ebe0;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: {
    color: #1e0e02;
  }
}

#wrapper {
  background: {
    image: url('/images/bg_wrapper.jpg');
    repeat: repeat-y;
  }
  height: auto !important;
  height: 100%;
  margin: 0 auto $neg_footer_height;
  min-height: 100%;
  width: $wrapper_width;
}

#header {
  background: {
    image: url('/images/bg_header.jpg');
  }
  height: 144px;
  text-align: center;
  a#header_link {
    text-decoration: none;
    span#heading {
      color: #f7fff5;
      font: {
        family: Helvetica, Arial, sans-serif;
        size: 46px;
        weight: 200;
      }
      position: relative;
      top: -52px;
    }
  }
  a#header_link:hover {
    text-decoration: none;
  }
}

#nav {
  background: {
    color: #1e0e02;
  }
  height: $nav_height - $nav_link_padding_tb;
  padding: $nav_link_padding_tb $content_padding_lr 0 $content_padding_lr - $nav_link_padding_lr;
  a {
    color: #f0c397;
    font: {
      family: Georgia, "Times New Roman", Times, serif;
      size: 18px;
    }
    padding: $nav_link_padding_tb $nav_link_padding_lr;
    text-decoration: none;
  }
  a:hover {
    background: {
      image: url('/images/nav_hover.png');
      repeat: repeat-x;
    }
  }
}

#content {
  background: {
    image: url('/images/bg_content.jpg');
    repeat: no-repeat;
  }
  font: {
    family: 'Droid Serif';
    size: 16px;
  }
  line-height: 1.3;
  min-height: 463px;
  padding: $content_padding_tb $content_padding_lr;
  padding-bottom: 30px; /* override */
}

footer, .push {
  background: {
    color: #1e0e02;
  }
  height: $footer_height;
}

#footer_content {
  margin: 0 auto;
  min-height: 20px;
  padding: 5px;
  width: $wrapper_width - 10px;
  span#signed_in_as {
    color: #ae8260;
    float: right;
    font-size: 16px;
  }
}

/* headers */

h1, h2 {
  color: #9e5b28;
  font: {
    family: 'Droid Sans', arial, serif;
  }
}
h1 {
  font: {
    size: 36px;
    weight: 400;
  }
}
h2 {
  font: {
    size: 24px;
    weight: 200;
  }
}
h3 {
  font: {
    size: 20px;
    weight: 200;
  }
}

/* flash */

.flash {
  padding: 5px;
  margin: 0 0 8px 0;
}
.flash#notice {
  background-color: #79a786;
  border: 1px solid #425b49;
}
.flash#alert {
  background-color: #feb5b5;
  border: 1px solid #b20000;
}

/* listings */

.listing_header {
  margin: 0 0 30px 0;
}
.listing_item {
  padding: 10px;
  span.actions {
    float: right;
    a {
      color: $soft_green;
      margin: 0 8px 0 0;
    }
    form {
      display: inline;
      div {
        display: inline;
      }
      input[type=submit] {
        @include fancy-button($soft_green, 12px);
      }
    }
  }
  .sub_listing {
    margin: 5px 0 0 20px;
    .sub_listing_item {
      padding: 2px 0;
    }
  }
}
.listing_item.even {
  background-color: $listing_even_bg;
}

/*
.menu_item_day {
  margin: 0 0 25px 0;
  .day_name {
    margin: 0 0 5px 0;
  }
  .menu_item {
    padding: 3px;
    span.actions {
      float: right;
      a {
        color: $soft_green;
        margin: 0 8px 0 0;
      }
    }
  }
  .menu_item.odd {
    background-color: #f3ebe0;
  }
}
*/
