form.simple_form {
  fieldset {
    border: 1px solid #1e0e02;
    margin: 20px 0;
    padding: 0 20px 10px 20px;
  }
  div.input {
    margin: 24px 0;
  }
  label {
    display: block;
  }
  label.required abbr {
    color: #f00;
  }
  div.check_boxes {
    label.collection_check_boxes {
      margin: 4px 0;
      input.check_boxes {
        margin: 0 5px;
      }
    }
  }
  input[type="submit"] {
    @include fancy-button(#9E5B28, 13px);
    margin: 0 15px 0 0;
  }
  a.delete {
    @include fancy-button(#ff0000, 13px);
  }
  div.actions {
    margin: 30px 0 0 0;
  }
}

div.nav_links {
  margin: 20px 0 0 0;
}

form.simple_form.menu_item {
  input[type="submit"], a {
    margin: 0 15px 0 0;
  }
}

.error_notification {
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}