ul.dropdown {
  background-color: $dark_brown;
  height: $nav_height;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    float: left;
    a {
      color: #f0c397;
      display: block;
      font: {
        family: Georgia, "Times New Roman", Times, serif;
        size: 18px;
      }
      padding: 18px 20px 17px 20px;
      text-decoration: none;
    }
    a:hover {
      background: {
        image: url('/images/nav_hover.png');
        repeat: repeat-x;
      }
    }
  }

  li:hover {
    position: relative;
  }

  ul.submenu {
    left: 0;
    position: absolute;
    visibility: hidden;

    li {

      font-weight: normal;
      float: none;

      /* IE 6 & 7 need inline-block */
      a {
        background-color: #007645;
        border-bottom: 1px solid $dark_brown;
        display: inline-block;
        width: 100%;
      }
    }

    li:last-child a {
      border: none;
    }
  }

  ul.submenu#admin {
    width: 150px;
  }
}
