#admin_menu_bar
  = link_to 'New Days Off', new_day_off_path, :class => 'button'
  %h1 Days Off

- @days_off.each do |day_off|
  %div[day_off]{:class => 'listing_item ' + cycle('odd', 'even')}
    %span.day_off_name= day_off.name
    %span.day_off_date.subdued= day_off_date(day_off)
    %span.actions
      = link_to 'Edit', edit_day_off_path(day_off)
