.actions
  - if @menu_item.new_record?
    = f.submit('Create Menu Item')
  - else
    = f.submit('Update Menu Item')
    = link_to('Delete', menu_item_path(@menu_item), :class => :delete,
      :confirm => 'Are you sure?', :method => :delete)

