- if user_signed_in?
- else
  :markdown
    Welcome to the [Woods Charter School](http://woodscharter.org/) lunch ordering
    program. If you already have an account, please [sign in](/users/sign_in). If
    you have a student at Woods and would like to use this online ordering system,
    you may request an account.
