- if user_signed_in?
  - if Rails.env.production? && !current_user.has_role?(:admin)
    %p{:style => 'padding: 60px;'}
      Online ordering will go live on August 22nd. The first day of full lunch service is August 29th.
  - else
    - current_user.students.each do |student|
      = link_to_current_student_order(student)
    - if current_user.students.any?
      #balance
        = number_to_currency(current_user.account.balance)
- else
  #not_signed_in
    #sign_in
      = link_to('Sign in', new_user_session_path, :class => 'button')
    #or or
    #request_account
      = link_to("Request an account", new_account_request_path, :class => 'button')
    #note
      This application is for use by parents/guardians and staff of Woods Charter School.
      Account requests are subject to approval.

